[Desktop Entry]
Version=1.0
Type=Application
Name=Set Mouse Wheel Speed
Comment=
Exec=/usr/bin/set_mouse_wheel_speed
Icon=input-mouse
Path=
Terminal=false
StartupNotify=false
